# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Ajustes de usuario
*.vcxproj.user

# Executables
*.exe
*.out
*.app

# Directorios 
.vs/
Builds/
[Bb]in/*
[Tt]emp/
[Ll]ib/

# Excepciones

![Bb]in/[Aa]ssets/
![Dd]ependencies/FMOD/[Ss]rc/api/*/[Ll]ib/*.dll
![Dd]ependencies/FMOD/[Ss]rc/api/*/[Ll]ib/*.lib